In [1]:
import os
from bs4 import BeautifulSoup
html_page = os.path.join('data', 'DataWrangling', "FL-ATL.html")

with open(html_page, "r") as html:
    soup = BeautifulSoup(html, "html5lib")

In [4]:
table = soup.find('table', attrs={"class":u"dataTDRight"})

In [7]:
rows = table.find_all('tr', attrs={"class":u"dataTDRight"})

In [8]:
rows[0]

<tr class="dataTDRight">\n\t\t<td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2002</td><td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">10</td><td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">815,489</td><td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">92,565</td><td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">908,054</td>\n\t</tr>

In [9]:
rows[0].find_all('td')

[<td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">2002</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">10</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">815,489</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">92,565</td>,
 <td style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">908,054</td>]

In [18]:
header = ['year', 'month','DOMESTIC','INTERNATIONAL','TOTAL']
for row in rows:
    cells = row.find_all('td')
    cells_dict=dict()
    for i,cell in enumerate(cells):
        try:
            cells_dict[header[i]] = int(cell.text.replace(',',''))
        except:
            cells_dict[header[i]] = cell.text
    print cells_dict

{'INTERNATIONAL': 92565, 'TOTAL': 908054, 'month': 10, 'DOMESTIC': 815489, 'year': 2002}
{'INTERNATIONAL': 91342, 'TOTAL': 858117, 'month': 11, 'DOMESTIC': 766775, 'year': 2002}
{'INTERNATIONAL': 96881, 'TOTAL': 879056, 'month': 12, 'DOMESTIC': 782175, 'year': 2002}
{'INTERNATIONAL': 1023994, 'TOTAL': 9109077, 'month': u'TOTAL', 'DOMESTIC': 8085083, 'year': 2002}
{'INTERNATIONAL': 98053, 'TOTAL': 883704, 'month': 1, 'DOMESTIC': 785651, 'year': 2003}
{'INTERNATIONAL': 85965, 'TOTAL': 776715, 'month': 2, 'DOMESTIC': 690750, 'year': 2003}
{'INTERNATIONAL': 97929, 'TOTAL': 895563, 'month': 3, 'DOMESTIC': 797634, 'year': 2003}
{'INTERNATIONAL': 89398, 'TOTAL': 856037, 'month': 4, 'DOMESTIC': 766639, 'year': 2003}
{'INTERNATIONAL': 87671, 'TOTAL': 877528, 'month': 5, 'DOMESTIC': 789857, 'year': 2003}
{'INTERNATIONAL': 95435, 'TOTAL': 894276, 'month': 6, 'DOMESTIC': 798841, 'year': 2003}
{'INTERNATIONAL': 102795, 'TOTAL': 934870, 'month': 7, 'DOMESTIC': 832075, 'year': 2003}
{'INTERNATIONAL': 102145, 'TOTAL': 933330, 'month': 8, 'DOMESTIC': 831185, 'year': 2003}
{'INTERNATIONAL': 90681, 'TOTAL': 872945, 'month': 9, 'DOMESTIC': 782264, 'year': 2003}
{'INTERNATIONAL': 91820, 'TOTAL': 910597, 'month': 10, 'DOMESTIC': 818777, 'year': 2003}
{'INTERNATIONAL': 91004, 'TOTAL': 857270, 'month': 11, 'DOMESTIC': 766266, 'year': 2003}
{'INTERNATIONAL': 97094, 'TOTAL': 895973, 'month': 12, 'DOMESTIC': 798879, 'year': 2003}
{'INTERNATIONAL': 1129990, 'TOTAL': 10588808, 'month': u'TOTAL', 'DOMESTIC': 9458818, 'year': 2003}