In [1]:
import sys, os
sys.path.append('\\\\10.122.80.198\\anm_exchange\\ENFT\\SEB\\site-packages\\')

In [2]:
import pandas as pd
folder = ('\\\\10.122.80.198\\anm_exchange\\ENFT\\SEB\\CSV\\')
df_list = list()
for traj_file in os.listdir(folder):
    df_list.append(pd.read_csv(os.path.join(folder, traj_file)))
    break
df=df_list[0]

In [3]:
df.head()

,Unnamed: 0,GMTs_of_year,GMTs_of_day,LATITUDE,LONGITUDE,DX_AC2ANTENNA,DY_AC2ANTENNA,PNT,RWY,MAXOG,...,M1TCCH,M1TCCI,M1TCCL,M2TCCH,M2TCCI,M2TCCL,M1NAI,M2NAI,M1PC,M2PC
0,4290,24656280.0,32280.0,43.558070,1.434594,-5999.672554,7989.355054,TP,LFMP33,139795.843750,...,54.853432,28.930061,0,29.467510,23.432116,0,1,1,0,0
1,4291,24656281.0,32281.0,43.557304,1.435371,-5937.054890,7904.162314,TP,LFMP33,139694.312500,...,54.217762,28.900749,0,29.221224,22.842361,0,1,1,0,0
2,4292,24656282.0,32282.0,43.556589,1.436097,-5878.499260,7824.692490,TP,LFMP33,139591.578125,...,53.610611,29.086338,0,28.918201,22.348862,0,1,1,0,0
3,4293,24656283.0,32283.0,43.555807,1.436895,-5814.246753,7737.676556,TP,LFMP33,139487.656250,...,53.032852,29.203627,0,28.605707,21.977526,0,1,1,0,0
4,4294,24656284.0,32284.0,43.555076,1.437639,-5754.287263,7656.446453,TP,LFMP33,139382.578125,...,52.445068,29.418840,0,28.331142,21.604744,0,1,1,0,0

In [4]:
import datetime
import numpy as np
YEAR=2016
year_dt_zero = np.datetime64('%s-01-01' % YEAR, 's')
gmts = df["GMTs_of_year"].values
td =  gmts * np.ones_like(gmts, dtype=np.timedelta64)
timestamps = (year_dt_zero + td).tolist()
when = ['%sZ' % str(t).replace(" ","T") for t in timestamps]

df['elevation'] = df['MAZP'] * 0.3048
coord = df[['LONGITUDE', 'LATITUDE', 'elevation']].values.tolist()
    
altitude = df['MAZP'].values.tolist()

In [5]:
import os
from simplekml import Kml, Snippet, Types

# Data for the track
when = ["2010-05-28T02:02:09Z",
    "2010-05-28T02:02:35Z",
    "2010-05-28T02:02:44Z",
    "2010-05-28T02:02:53Z",
    "2010-05-28T02:02:54Z",
    "2010-05-28T02:02:55Z",
    "2010-05-28T02:02:56Z"]

coord = [(-122.207881,37.371915,156.000000),
    (-122.205712,37.373288,152.000000),
    (-122.204678,37.373939,147.000000),
    (-122.203572,37.374630,142.199997),
    (-122.203451,37.374706,141.800003),
    (-122.203329,37.374780,141.199997),
    (-122.203207,37.374857,140.199997)]

cadence = [86, 103, 108, 113, 113, 113, 113]
heartrate = [181, 177, 175, 173, 173, 173, 173]
power = [327.0, 177.0, 179.0, 162.0, 166.0, 177.0, 183.0]

# Create the KML document
kml = Kml(name="Tracks", open=1)
doc = kml.newdocument(name='GPS device', snippet=Snippet('Created Wed Jun 2 15:33:39 2010'))
doc.lookat.gxtimespan.begin = '2010-05-28T02:02:09Z'
doc.lookat.gxtimespan.end = '2010-05-28T02:02:56Z'
doc.lookat.longitude = -122.205544
doc.lookat.latitude = 37.373386
doc.lookat.range = 1300.000000

# Create a folder
fol = doc.newfolder(name='Tracks')

# Create a schema for extended data: heart rate, cadence and power
schema = kml.newschema()
schema.newgxsimplearrayfield(name='heartrate', type=Types.int, displayname='Heart Rate')
schema.newgxsimplearrayfield(name='cadence', type=Types.int, displayname='Cadence')
schema.newgxsimplearrayfield(name='power', type=Types.float, displayname='Power')

# Create a new track in the folder
trk = fol.newgxtrack(name='2010-05-28T01:16:35.000Z')

# Apply the above schema to this track
trk.extendeddata.schemadata.schemaurl = schema.id

# Add all the information to the track
trk.newwhen(when) # Each item in the give nlist will become a new <when> tag
trk.newgxcoord(coord) # Ditto
trk.extendeddata.schemadata.newgxsimplearraydata('heartrate', heartrate) # Ditto
trk.extendeddata.schemadata.newgxsimplearraydata('cadence', cadence) # Ditto
trk.extendeddata.schemadata.newgxsimplearraydata('power', power) # Ditto

# Styling
trk.stylemap.normalstyle.iconstyle.icon.href = 'http://earth.google.com/images/kml-icons/track-directional/track-0.png'
trk.stylemap.normalstyle.linestyle.color = '99ffac59'
trk.stylemap.normalstyle.linestyle.width = 6
trk.stylemap.highlightstyle.iconstyle.icon.href = 'http://earth.google.com/images/kml-icons/track-directional/track-0.png'
trk.stylemap.highlightstyle.iconstyle.scale = 1.2
trk.stylemap.highlightstyle.linestyle.color = '99ffac59'
trk.stylemap.highlightstyle.linestyle.width = 8

# Save the kml to file
kml.save("GxTrack.kml")

In [18]:
a=np.append(np.arange(0,10,0.1),1.35)
(a-1.35)

-1.3500000000000001