In [1]:
import os, re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
folder = ('\\\\10.122.80.198\\anm_exchange\\ENFT\\SEB\\CSV\\')

In [4]:
df_list = list()
for traj_file in os.listdir(folder):
    df_list.append(pd.read_csv(os.path.join(folder, traj_file)))
    break

In [5]:
df0 = df_list[0]
df0.head()

,Unnamed: 0,GMTs_of_year,GMTs_of_day,LATITUDE,LONGITUDE,DX_AC2ANTENNA,DY_AC2ANTENNA,PNT,RWY,MAXOG,...,M1TCCH,M1TCCI,M1TCCL,M2TCCH,M2TCCI,M2TCCL,M1NAI,M2NAI,M1PC,M2PC
0,30847,29443298.0,67298.0,43.519719,1.624209,9291.652180,3724.972506,TP,LFBO32L,-21058.777344,...,3.689110,3.925217,0,3.026307,3.200385,0,0,0,0,0
1,30848,29443299.0,67299.0,43.518785,1.624050,9278.890185,3621.083379,TP,LFBO32L,-21137.494141,...,3.722859,3.925237,0,3.028857,3.210670,0,0,0,0,0
2,30849,29443300.0,67300.0,43.517777,1.623836,9261.751218,3508.967546,TP,LFBO32L,-21213.906250,...,3.709905,3.896832,0,3.054619,3.236532,0,0,0,0,0
3,30850,29443301.0,67301.0,43.516850,1.623604,9243.114495,3405.918054,TP,LFBO32L,-21288.144531,...,3.702044,3.938025,0,3.082944,3.249460,0,0,0,0,0
4,30851,29443302.0,67302.0,43.515851,1.623319,9220.179284,3294.784500,TP,LFBO32L,-21360.357422,...,3.714978,3.893977,0,3.049473,3.252115,0,0,0,0,0

In [6]:
df0.groupby('RWY').groups.keys()

['LFBO32L']

In [7]:
from pprint import pprint
rwy_dict = dict()
for df in df_list:
    if len(df.groupby('RWY').groups.keys()) > 1: pprint(df.groupby('RWY').groups)
    for rwy in df.groupby('RWY').groups.keys():
        if not rwy_dict.has_key(rwy): rwy_dict[rwy] = 0
        rwy_dict[rwy] += 1
pprint(rwy_dict)

{'LFBO32L': 1}

In [8]:
i=0
for k,v in rwy_dict.iteritems(): i+= v
print i

1

In [9]:
YEAR=2017
GMTs=3.34662E+12 / 1000000
GMTs

3346620.0

In [10]:
import datetime

In [11]:
date = datetime.date(YEAR, 1, 1)
date

datetime.date(2017, 1, 1)

In [12]:
td = datetime.timedelta(seconds=GMTs)
td.total_seconds()

3346620.0

In [13]:
year = datetime.timedelta(days=365)
year.total_seconds()

31536000.0

In [14]:
d = date + td

In [15]:
d.isoformat()

'2017-02-08'

In [16]:
d.strftime("%y%m%d")

'170208'

In [17]:
import os, matplotlib
print os.path.dirname(matplotlib.__path__[0])

C:\Users\TO72078\Anaconda2\envs\seb_env\lib\site-packages

In [18]:
print df0[['GMTs_of_year']].values[:5]
df0.loc[:1,'GMTs_of_year'] = np.array([[25234582.5],[25234583.5]])
print df0.iloc[:3]
print df0.loc[:3]

[[ 29443298.]
 [ 29443299.]
 [ 29443300.]
 [ 29443301.]
 [ 29443302.]]
   Unnamed: 0  GMTs_of_year  GMTs_of_day   LATITUDE  LONGITUDE  DX_AC2ANTENNA  \
0       30847    25234582.5      67298.0  43.519719   1.624209    9291.652180
1       30848    25234583.5      67299.0  43.518785   1.624050    9278.890185
2       30849    29443300.0      67300.0  43.517777   1.623836    9261.751218

   DY_AC2ANTENNA PNT      RWY         MAXOG  ...     M1TCCH    M1TCCI  M1TCCL  \
0    3724.972506  TP  LFBO32L -21058.777344  ...   3.689110  3.925217       0
1    3621.083379  TP  LFBO32L -21137.494141  ...   3.722859  3.925237       0
2    3508.967546  TP  LFBO32L -21213.906250  ...   3.709905  3.896832       0

     M2TCCH    M2TCCI  M2TCCL  M1NAI  M2NAI  M1PC  M2PC
0  3.026307  3.200385       0      0      0     0     0
1  3.028857  3.210670       0      0      0     0     0
2  3.054619  3.236532       0      0      0     0     0

[3 rows x 80 columns]
   Unnamed: 0  GMTs_of_year  GMTs_of_day   LATITUDE  LONGITUDE  DX_AC2ANTENNA  \
0       30847    25234582.5      67298.0  43.519719   1.624209    9291.652180
1       30848    25234583.5      67299.0  43.518785   1.624050    9278.890185
2       30849    29443300.0      67300.0  43.517777   1.623836    9261.751218
3       30850    29443301.0      67301.0  43.516850   1.623604    9243.114495

   DY_AC2ANTENNA PNT      RWY         MAXOG  ...     M1TCCH    M1TCCI  M1TCCL  \
0    3724.972506  TP  LFBO32L -21058.777344  ...   3.689110  3.925217       0
1    3621.083379  TP  LFBO32L -21137.494141  ...   3.722859  3.925237       0
2    3508.967546  TP  LFBO32L -21213.906250  ...   3.709905  3.896832       0
3    3405.918054  TP  LFBO32L -21288.144531  ...   3.702044  3.938025       0

     M2TCCH    M2TCCI  M2TCCL  M1NAI  M2NAI  M1PC  M2PC
0  3.026307  3.200385       0      0      0     0     0
1  3.028857  3.210670       0      0      0     0     0
2  3.054619  3.236532       0      0      0     0     0
3  3.082944  3.249460       0      0      0     0     0

[4 rows x 80 columns]

In [19]:
df0.loc[:,'new'] = df0['GMTs_of_year']
df0['new'] = df0['GMTs_of_year'] # idem!

In [47]:
#df0.loc[:,('LATITUDE','LONGITUDE')].values.tolist()

In [21]:
gmts=df0[['GMTs_of_year']]/1.e6

In [22]:
gmt_start=df0[['GMTs_of_year']].values[0][0]/1.e6

In [23]:
gmt_start

25.234582499999998

In [34]:
YEAR=2016

In [46]:
year_dt_zero = datetime.datetime(int(YEAR), 1, 1)
gmts = pd.to_timedelta(df0['GMTs_of_year'], unit='s')
#print pd.to_datetime('01/01/2016', dayfirst=True) + gmts

#flight_dt = year_dt_zero + datetime.timedelta(seconds=gmts)
#flight_dt_start = year_dt_zero + datetime.timedelta(seconds=gmts_start)
#DAY_DATE = flight_dt_start.strftime("%y%m%d")

In [38]:
year_dt_zero = datetime.datetime(YEAR, 1, 1)
flight_dt_start = year_dt_zero + datetime.timedelta(seconds=gmt_start)
DATE = flight_dt_start.strftime("%y%m%d%H%M%S")

print DATE

160101000025

In [43]:
flight_dt_zero = datetime.datetime.strptime(DATE, "%y%m%d%H%M%S")
print flight_dt_zero

2016-01-01 00:00:25

In [44]:
gmt_zero = (flight_dt_start - flight_dt_zero).total_seconds()

In [45]:
gmt_zero

0.234582