In [10]:
import os, re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
%matplotlib inline

In [12]:
folder = ('\\\\10.122.80.198\\anm_exchange\\ENFT\\SEB\\CSV\\')

In [13]:
df_list = list()
for traj_file in os.listdir(folder):
    df_list.append(pd.read_csv(os.path.join(folder, traj_file)))
    break

In [14]:
df0 = df_list[0]
df0.head()

,Unnamed: 0,GMTs_of_year,GMTs_of_day,LATITUDE,LONGITUDE,DX_AC2ANTENNA,DY_AC2ANTENNA,PNT,RWY,MAXOG,...,M1TCCH,M1TCCI,M1TCCL,M2TCCH,M2TCCI,M2TCCL,M1NAI,M2NAI,M1PC,M2PC
0,28042,25234582.0,5782.0,43.834497,1.232058,-633.503739,9918.230170,TP,LFBO32L,25905.351562,...,3.537847,3.570437,0,3.569007,3.580014,0,0,0,0,0
1,28043,25234583.0,5783.0,43.833722,1.231225,-700.319706,9832.130284,TP,LFBO32L,25876.082031,...,3.556298,3.536443,0,3.569007,3.559284,0,0,0,0,0
2,28044,25234584.0,5784.0,43.832883,1.230324,-772.673303,9738.827248,TP,LFBO32L,25846.765625,...,3.551211,3.534059,0,3.540449,3.564364,0,0,0,0,0
3,28045,25234585.0,5785.0,43.832108,1.229493,-839.424568,9652.663643,TP,LFBO32L,25817.373047,...,3.574801,3.599776,0,3.548278,3.556536,0,0,0,0,0
4,28046,25234586.0,5786.0,43.831269,1.228592,-911.699296,9559.272347,TP,LFBO32L,25787.904297,...,3.540999,3.552695,0,3.540449,3.564364,0,0,0,0,0

In [15]:
df0.groupby('RWY').groups.keys()

['LFBO32L']

In [16]:
from pprint import pprint
rwy_dict = dict()
for df in df_list:
    if len(df.groupby('RWY').groups.keys()) > 1: pprint(df.groupby('RWY').groups)
    for rwy in df.groupby('RWY').groups.keys():
        if not rwy_dict.has_key(rwy): rwy_dict[rwy] = 0
        rwy_dict[rwy] += 1
pprint(rwy_dict)

{'LFBO32L': 1}

In [17]:
i=0
for k,v in rwy_dict.iteritems(): i+= v
print i

1

In [18]:
YEAR=2017
GMTs=3.34662E+12 / 1000000
GMTs

3346620.0

In [19]:
import datetime

In [20]:
date = datetime.date(YEAR, 1, 1)
date

datetime.date(2017, 1, 1)

In [21]:
td = datetime.timedelta(seconds=GMTs)
td.total_seconds()

3346620.0

In [22]:
year = datetime.timedelta(days=365)
year.total_seconds()

31536000.0

In [23]:
d = date + td

In [24]:
d.isoformat()

'2017-02-08'

In [25]:
d.strftime("%y%m%d")

'170208'

In [26]:
import os, matplotlib
print os.path.dirname(matplotlib.__path__[0])

C:\Users\TO72078\Anaconda2\envs\seb_env\lib\site-packages

In [27]:
print df0[['GMTs_of_year']].values[:5]
df0.loc[:1,'GMTs_of_year'] = np.array([[25234582.5],[25234583.5]])
print df0.iloc[:3]
print df0.loc[:3]

[[ 25234582.]
 [ 25234583.]
 [ 25234584.]
 [ 25234585.]
 [ 25234586.]]
   Unnamed: 0  GMTs_of_year  GMTs_of_day   LATITUDE  LONGITUDE  DX_AC2ANTENNA  \
0       28042    25234582.5       5782.0  43.834497   1.232058    -633.503739
1       28043    25234583.5       5783.0  43.833722   1.231225    -700.319706
2       28044    25234584.0       5784.0  43.832883   1.230324    -772.673303

   DY_AC2ANTENNA PNT      RWY         MAXOG  ...     M1TCCH    M1TCCI  M1TCCL  \
0    9918.230170  TP  LFBO32L  25905.351562  ...   3.537847  3.570437       0
1    9832.130284  TP  LFBO32L  25876.082031  ...   3.556298  3.536443       0
2    9738.827248  TP  LFBO32L  25846.765625  ...   3.551211  3.534059       0

     M2TCCH    M2TCCI  M2TCCL  M1NAI  M2NAI  M1PC  M2PC
0  3.569007  3.580014       0      0      0     0     0
1  3.569007  3.559284       0      0      0     0     0
2  3.540449  3.564364       0      0      0     0     0

[3 rows x 80 columns]
   Unnamed: 0  GMTs_of_year  GMTs_of_day   LATITUDE  LONGITUDE  DX_AC2ANTENNA  \
0       28042    25234582.5       5782.0  43.834497   1.232058    -633.503739
1       28043    25234583.5       5783.0  43.833722   1.231225    -700.319706
2       28044    25234584.0       5784.0  43.832883   1.230324    -772.673303
3       28045    25234585.0       5785.0  43.832108   1.229493    -839.424568

   DY_AC2ANTENNA PNT      RWY         MAXOG  ...     M1TCCH    M1TCCI  M1TCCL  \
0    9918.230170  TP  LFBO32L  25905.351562  ...   3.537847  3.570437       0
1    9832.130284  TP  LFBO32L  25876.082031  ...   3.556298  3.536443       0
2    9738.827248  TP  LFBO32L  25846.765625  ...   3.551211  3.534059       0
3    9652.663643  TP  LFBO32L  25817.373047  ...   3.574801  3.599776       0

     M2TCCH    M2TCCI  M2TCCL  M1NAI  M2NAI  M1PC  M2PC
0  3.569007  3.580014       0      0      0     0     0
1  3.569007  3.559284       0      0      0     0     0
2  3.540449  3.564364       0      0      0     0     0
3  3.548278  3.556536       0      0      0     0     0

[4 rows x 80 columns]

In [51]:
df0.loc[:,'new'] = df0['GMTs_of_year']
df0['new'] = df0['GMTs_of_year'] # idem!

In [52]:
df0.loc[:5,'GMTs_of_year']

0    25234582.5
1    25234583.5
2    25234584.0
3    25234585.0
4    25234586.0
5    25234587.0
Name: GMTs_of_year, dtype: float64

In [53]:
df0.loc[:5,'new']

0    25234582.5
1    25234583.5
2    25234584.0
3    25234585.0
4    25234586.0
5    25234587.0
Name: new, dtype: float64

In [27]:
gmts=df0[['GMTs_of_year']]/1.e6

In [ ]:
gmt_start=df0[['GMTs']].values[0][0]/1.e6

In [18]:
gmt_start

NameError: name 'gmt_start' is not defined

In [19]:
YEAR=2017

In [20]:
year_dt_zero = datetime.datetime(YEAR, 1, 1)
flight_dt_start = year_dt_zero + datetime.timedelta(seconds=gmt_start)
DATE = flight_dt_start.strftime("%y%m%d%H%M%S")

print DATE

NameError: name 'gmt_start' is not defined

In [21]:
flight_dt_zero = datetime.datetime.strptime(DATE, "%y%m%d")
print flight_dt_zero

NameError: name 'DATE' is not defined

In [22]:
gmt_zero = (flight_dt_start - flight_dt_zero).total_seconds()

NameError: name 'flight_dt_start' is not defined

In [23]:
gmt_zero

NameError: name 'gmt_zero' is not defined

In [ ]:
df0[df0['REFPOINT_DIST_KM'] < 3]['REFPOINT_DIST_KM'].values[0]

In [ ]:
df0['REFPOINT_DIST_KM'].values[df0['REFPOINT_DIST_KM'] < 3].mean()

In [ ]:
df0.head()